.alsoLikeContainer{
display: flex;
flex-direction: column;

height: 23rem;
width: 100%;
position: relative;

}
    
.alsoLikeModal{
display: flex;
align-items: center;

gap: 2rem;
height: 20rem;
padding:  1rem 2rem;

}
.prod_Img{
height: 160px !important;
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.prod_Card{
min-width:10rem ;
background-color: var(--cardColor);
height: 82%;
border: none;
cursor: pointer;
display: flex;
flex-direction: column;
font-size: 12px;
}
.prodCard:hover{
    cursor: pointer;
     box-shadow: 0px 0px 9px 3px rgba(168,110,110,0.24);
-webkit-box-shadow: 0px 0px 9px 3px rgba(168,110,110,0.24);
-moz-box-shadow: 0px 0px 9px 3px rgba(168,110,110,0.24);
}
.prod_Info{
padding-left: 5px;
padding-top:5px ;
gap: 0.5rem;
 display: flex;
    flex-direction: column;
    

}
.btnProdCard{
font-size: 12px;
   padding: 10px 13px;
   display: flex;
   align-self: center;
   border: none;
   border-radius: 5px;
   color: white;
   background: navy;

}