*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
  --cardColor:rgb(241, 240, 240);
  --mainColor:navy;
  --textColor:rgb(48, 47, 47);
  --bodyColor:#f4f4f4;
}
body{
 font-family: 'Roboto', sans-serif;
 background-color: var(--bodyColor);
}
button:hover{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links{
  text-decoration: none;
  color: inherit;
}

.catInfoHover:hover{
  text-decoration: underline;
  
}
.scrollToTop{
  top: 0;
}
